[build]
  functions = "netlify/functions"
  publish = "dist"
  command = "npm run build"

[functions]
  node_bundler = "esbuild"
  included_files = ["netlify/functions/router.js"]
  external_node_modules = ["node-fetch"]
  node_version = "18"

[[redirects]]
  from = "/.netlify/functions/*"
  to = "/.netlify/functions/:splat"
  status = 200

[scheduled."roster-refresh"]
  cron = "0 */12 * * *"
  function = "router"

[scheduled."scheduler"]
  cron = "0 */6 * * *"
  function = "router"

[[headers]]
  for = "/.netlify/functions/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Headers = "Content-Type"
    Access-Control-Allow-Methods = "POST, OPTIONS"